:host {
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 600%;
    margin: 0;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}
