:host {
  .control {
    display: flex;
    justify-content: flex-end;
  }

  .cart {
    display: flex;
    align-items: center;
    gap: 2em;

    > p {
      flex-grow: 1;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

}
