<h2 mat-dialog-title>Panier</h2>
<mat-dialog-content class="mat-typography">
  <div class="content">
    <p *ngFor="let c of filteredCart" class="screening">
      <span>
        <span>{{c.movie.title}} ({{c.start | date: 'dd/MM/YYYY - HH:mm'}}) à <strong>{{c.cinema.name}}</strong></span>
          <input matInput type="number" [value]="getHowMuch(c)" (change)="setAmount(c, $event)">
      </span>
      <button
        mat-mini-fab
        color="warn"
        aria-label="Example icon button with a filter list icon"
        (click)="deleteScreening(c)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="control">
  <button mat-button routerLink="cart" [mat-dialog-close]="true">Se rendre au panier</button>
  <button mat-button [mat-dialog-close]="true">Fermer</button>
</mat-dialog-actions>
