<app-credentials-container label="Se connecter">
  <form>
    <div>
      <mat-form-field>
        <mat-label>Adresse mail</mat-label>
        <input matInput [(ngModel)]="username" type="text" name="mail" id="mail" placeholder="xyz@host.com">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput [(ngModel)]="password" type="password" name="password" id="password" placeholder="•••••••••">
      </mat-form-field>
    </div>
  </form>
  <div class="login-container-buttons">
    <button mat-raised-button color="primary" (click)="localLogin()">Se connecter</button>
    <button mat-raised-button routerLink="/signup">S'inscrire</button>
  </div>
  <hr>
  <h2>Ou</h2>
  <div class="provider-buttons">
    <asl-google-signin-button type="standard"
                              logo_alignment="center"
                              shape="square"
                              size="large"></asl-google-signin-button>
    <app-microsoft-social-button (click)="microsoftLogin()"></app-microsoft-social-button>
  </div>
</app-credentials-container>
