:host {
  display: block;
  height: 100%;
  margin: 0;

  main {
    height: 100%;
  }
}

/* -------   COLOR SET   ------- */
/* 5D4A66 - English Violet       */
/* E949CE - Razzle Dazzle Rose   */
/* DE541E - Flame                */
/* A995B2 - Rose Quartz          */
/* F3FCF0 - Honey Dew            */
/* ------------------------------*/
