:host {
  display: block;
  height: 100%;
  margin: 0;

  app-navbar{
    position: sticky;
    top: 0px;
  }

  main{
    padding: 1%;
  }

  main {
    height: 86.9%; //habile calcul de ma part
  }
}

/* -------   COLOR SET   ------- */
/* 5D4A66 - English Violet       */
/* E949CE - Razzle Dazzle Rose   */
/* DE541E - Flame                */
/* A995B2 - Rose Quartz          */
/* F3FCF0 - Honey Dew            */
/* ------------------------------*/
