/* Style de base pour la puce */
.chip {
  display: inline-flex;
  background-color: #A995B2; // Couleur de fond
  color: #4B3D51; // Couleur du texte
  border-radius: 16px; // Coins arrondis
  padding: 6px 10px; // Espacement intérieur
  margin: 4px; // Marge extérieure
  font-size: 14px; // Taille de police
  align-items: center;

  .chip-text {
    text-align: center;
  }
}
