$dark-primary-text: #3c065a;
$light-primary-text: #a995b2;

$pnd_palette_p: (
  50: #eae5ec,
  100: #cbbfd1,
  200: #a995b2,
  300: #8b6a99,
  400: #78498a,
  500: #65287b,
  600: #5e2476,
  700: #541b6e,
  800: #4b1467,
  900: #3c065a,
  A100: #cbbfd1,
  A200: #a995b2,
  A400: #78498a,
  A700: #541b6e,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$pnd_palette_s: (
  50: #fce3f6,
  100: #f7b9e9,
  200: #f186dc,
  300: #e949ce,
  400: #e200c4,
  500: #d400b6,
  600: #c500b2,
  700: #b000ad,
  800: #9e00a8,
  900: #7c009e,
  A100: #f7b9e9,
  A200: #f186dc,
  A400: #e200c4,
  A700: #b000ad,
  contrast: (
    50: #eafdea,
    100: #caf9cb,
    200: #a5f4a9,
    300: #78ee83,
    400: #49e964,
    500: #00e344,
    600: #00d23c,
    700: #00bc31,
    800: #00a726,
    900: #008318,
    A100: #caf9cb,
    A200: #a5f4a9,
    A400: #49e964,
    A700: #00bc31,
  )
);

$pnd_palette_w: (
  50: #faeae7,
  100: #fccebd,
  200: #faae93,
  300: #f98f68,
  400: #f87746,
  500: #f76126,
  600: #ec5b23,
  700: #de541e,
  800: #d04e1b,
  900: #b64214,
  A100: #fccebd,
  A200: #faae93,
  A400: #f87746,
  A700: #de541e,
  contrast: (
    50: #e1f5fa,
    100: #b3e4f3  ,
    200: #83d3ec,
    300: #57c1e5,
    400: #39b4e2,
    500: #1ea8de,
    600: #169ad0,
    700: #0b87bd,
    800: #0a76aa,
    900: #005788,
    A100: #b3e4f3,
    A200: #83d3ec,
    A400: #39b4e2,
    A700: #0b87bd,
  )
);
