.description{
  margin-top: 20px;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;

  div{
    width: 70%;
  }
}

.movie-list {

  display: flex;
  flex-direction: column;
  align-items: center;

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;

  app-movie-card{
    flex-grow: 0;
    margin: 12px;
    width: 22%;
  }
}
}
